<section class="paintings">
  <ul class="paintings-list">
    {{#each model._embedded.artworks as |artwork|}}
    {{#if session.isAuthenticated}}
      <button {{action "like" artwork}}>like</button>
    {{else}}
      <button {{action "promptLike"}}>like</button>
    {{/if}}
    {{#link-to 'artwork.show' artwork}}
    <li class="paintings-list-item">
      <p class="paintings-title">{{artwork.title}}</p>
      <img src="{{artwork._links.thumbnail.href}}" alt="" />
    </li>
    {{/link-to}}
    {{/each}}
  </ul>
</section>
