  {{#if session.isAuthenticated}}
    {{#if isLiked}}
      <button {{action 'unlike' artwork}}>unlike</button>
    {{else}}
      <button {{action 'like' artwork}}>like</button>
    {{/if}}
  {{else}}
    <button {{action 'promptLike'}}>like</button>
  {{/if}}
{{#link-to 'artwork.show' artwork}}
  <li class="artwork-list-item">
    <p class="artwork-title">{{artwork.title}}</p>
    <img src="{{artwork._links.thumbnail.href}}" alt="" />
  </li>
{{/link-to}}
