{{#if isHidden}}
  <button {{action 'show'}}>Login</button>
{{else}}
  <form class="log-in">
    {{input label="E-mail" type="email" value=identification}}
    {{input label="Password" type="password" value=password}}
    <button type="button" name="log-in-button" {{action 'authenticate'}}>Log In</button>
  </form>
{{/if}}
