<section class="main-heading">
  <div class="main-logo">
    {{#link-to 'index'}}<img src="/images/cg-white.png" alt="Carolina Galleries" />{{/link-to}}
  </div>
  <nav class="main-nav">
    <ul class="main-nav-list">
      {{!-- {{#link-to 'artists.index'}}<li class="main-nav-item">Artists</li>{{/link-to}} --}}
      {{!-- {{#if isHidden}}
        <li class="main-nav-item" {{action 'openUl'}}>Artwork</li>
      {{else}}
        <li class="main-nav-item" {{action 'closeUl'}}>Artwork</li>
          <ul class="main-nav-item-dropdown">
            {{#link-to 'artwork.index'}}<li class="main-nav-item-dropdown-item">All Artwork</li>{{/link-to}}
            {{#link-to 'artwork.painting'}}<li class="main-nav-item-dropdown-item">Paintings</li>{{/link-to}}
            {{#link-to 'artwork.sculpture'}}<li class="main-nav-item-dropdown-item">Sculpture</li>{{/link-to}}
          </ul>
      {{/if}} --}}
      {{#link-to 'artwork.index'}}<li class="main-nav-item">Artwork</li>{{/link-to}}
      {{#if session.isAuthenticated}}
        {{#link-to 'users.gallery'}}<li class="main-nav-item">Community Gallery</li>{{/link-to}}
      {{/if}}
        {{#link-to 'contact'}}<li class="main-nav-item">Contact</li>{{/link-to}}
    </ul>
  </nav>
  <div class="user-login-create-container">
  {{#if session.isAuthenticated}}
    <span class="user-login-create">
    {{#link-to 'users.current'}}<p class="current-user">{{session.currentUser.firstName}} {{session.currentUser.lastName}}</p>{{/link-to}}
    <p class="logout" {{action 'invalidateSession'}}>Logout</p>
    </span>
  {{else}}
    <p class="open-signup" {{action 'openModal' 'modal-main'}}>Sign Up</p>
    <p class="open-login" {{action 'openModal' 'modal-main'}}>Log In</p>
    {{#simple-modal id='modal-main' enabled=false createUser="createUser" model=model}}

    {{/simple-modal}}
  {{/if}}
</div>
</section>


{{outlet}}
