<section class="main-heading-desktop">
  <div class="main-logo">
    {{#link-to 'index'}}<img src="/images/cg-white.png" alt="Carolina Galleries" />{{/link-to}}
  </div>
  <nav class="site-navigation">
    <ul class="menu desktop">
      <li class="menu-item ">{{#link-to 'artwork.index'}}Artwork{{/link-to}}</li>
      <ul class="dropDownList">
        <li class="sub-menu hidden"></li>
        <li class="sub-menu">{{#link-to 'artwork.painting'}}Paintings{{/link-to}}</li>
        <li class="sub-menu">{{#link-to 'artwork.sculpture'}}Sculpture{{/link-to}}</li>
      </ul>
      {{#if session.isAuthenticated}}
        <li class="menu-item">{{#link-to 'users.gallery'}}Community Gallery{{/link-to}}</li>
      {{/if}}
        <li class="menu-item">{{#link-to 'contact'}}Contact{{/link-to}}</li>
    </ul>
</nav>
  <div class="user-login-create-container desktop">
  {{#if session.isAuthenticated}}
    <span class="user-login-create">
    {{#link-to 'users.current'}}<p class="current-user">{{session.currentUser.firstName}} {{session.currentUser.lastName}}</p>{{/link-to}}
    <p class="logout" {{action 'invalidateSession'}}>Logout</p>
    </span>
  {{else}}
    <p class="open-signup" {{action 'openModal' 'modal-main'}}>Log In or Sign Up</p>
    {{#simple-modal id='modal-main' enabled=false createUser="createUser" model=model}}

    {{/simple-modal}}
  {{/if}}
</div>
</section>

<section class="main-heading-mobile">
  <nav class="site-navigation">
    <ul class="menu">
      <li class="menu-item"><i class="fa fa-bars"></i></li>
      <ul class="dropDownList">
        <li class="sub-menu">{{#link-to 'index'}}Home{{/link-to}}</li>
        <li class="sub-menu">{{#link-to 'artwork.index'}}Artwork{{/link-to}}</li>
        <li class="sub-menu">{{#link-to 'artwork.painting'}}Paintings{{/link-to}}</li>
        <li class="sub-menu">{{#link-to 'artwork.sculpture'}}Sculpture{{/link-to}}</li>
        {{#if session.isAuthenticated}}
          <li class="sub-menu">{{#link-to 'users.gallery'}}Community Gallery{{/link-to}}</li>
        {{/if}}
          <li class="sub-menu">{{#link-to 'contact'}}Contact{{/link-to}}</li>
          {{#if session.isAuthenticated}}
            <li class="sub-menu">{{#link-to 'users.current'}}{{session.currentUser.firstName}} {{session.currentUser.lastName}}{{/link-to}}</li>
            <li class="sub-menu" {{action 'invalidateSession'}}>Logout</li>
          {{else}}
            <li class="sub-menu">Log In or Sign Up</li>
          {{/if}}
        </ul>
    </ul>
</nav>
</section>


{{outlet}}
