{{log model._embedded.artworks}}

<section class="landing-hero">
  <img src="/background.jpg" alt="" />
  <h2>Carolina Galleries is Charleston's premier destination for fine art.</h2>
  <button type="button" name="button">Expore</button>
</section>

<section class="explore">
  {{#link-to 'artists.index'}}ARTISTS{{/link-to}}
  <ul class="explore-list">
    {{#each model._embedded.artworks as |artwork|}}
    <li class="explore-list-item">
      <img src="{{artwork._links.thumbnail.href}}" class="thumbnail"/>
      <p class="artist">{{artwork.artist}}</p>
      <p class="artwork">{{artwork.title}}</p>
    </li>
    {{/each}}
  </ul>
</section>
{{outlet}}
